.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  align-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: antiquewhite;
}

#welcome {
  background-color: aquamarine;
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

#welcome-ctnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#expand {
  color: aquamarine;
  user-select: none;
}

#expand:hover {
  color:aliceblue;
  cursor: pointer;
}

#expand:active {
  color:aqua;
}
